.headerContentLayout {
    display: flex;
    flex-direction: column;
    height: 100%;

    header.appHeader {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: var(--size-s);
        padding: var(--size-m);

        background-image: var(--gradient-glass);
        border-bottom: var(--border-glass);
        box-shadow: var(--shadow-default);

        h1 {
            flex-grow: 1;
        }

        > *:not(h1) {
            transition: all ease-out var(--animation-duration);
            @starting-style {
                opacity: 0;
                transform: translateX(var(--size-m));
            }

            &:nth-child(3) {
                transition-delay: calc(.5 *var(--animation-duration));
            }

            &:nth-child(4) {
                transition-delay: calc(1 *var(--animation-duration));
            }

            &:nth-child(5) {
                transition-delay: calc(1.5 *var(--animation-duration));
            }

        }
    }

    main {
        flex-grow: 1;
        padding: var(--size-m);
        padding-top: vaR(--size-xl)
    }
}

