.headerContentLayout {
    display: flex;
    flex-direction: column;
height: 100%;

    header.appHeader {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: var(--size-m);
        padding: var(--size-m);
        background-color: var(--color-elevation-1);

        h1 {
            flex-grow: 1;
        }
    }

    main {
        flex-grow: 1;
        padding: var(--size-m);
    }
}

