.board {
    height: 100%;

    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    grid-gap: var(--size-m);

    > *:first-child, > *:nth-child(2) {
        grid-row: 1 / span 2
    }
}