.board {
    height: 100%;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: calc(50% - (.5 * (var(--size-m))));
    grid-gap: var(--size-m);

    > *:first-child, > *:nth-child(2) {
        grid-row: 1 / span 2
    }

    > * {
        transition: all ease-out var(--animation-duration);
        @starting-style {
            opacity: 0;
            transform: scale(.9)
        }
    }

    @media (max-width: 60rem) {
        height: unset;
        grid-template-columns: 1fr;
        grid-auto-rows: auto;

        > *:nth-child(n) {
            grid-row: unset;
        }
        overflow: auto;

    }
}