label.label {
    > * {
        display: block;
        width: 100%;
    }

    > span {
        font-size: var(--size-s);
        margin-bottom: var(--size-xs);
    }

    &:has(*[required]) > span:after {
        content: '*';
        margin-left: var(--size-xxs);
        color: var(--color-accent-danger);
    }

    input, textarea, select {
        padding: var(--size-xs);
        background-color: var(--color-surface-interactive);
        outline: none;
        appearance: none;
        resize: none;
        border-radius: var(--size-xs);
        font: inherit;
        color: inherit;
        border: none;

        transition: background-color ease-out var(--animation-duration-interaction);
        &:focus, &:focus-within {
            color: var(--color-text-highlight);
            background-color: var(--color-surface-interactive-hover);
            outline: none;
        }
    }
}