label.label {
    > * {
        display: block;
        width: 100%;
    }

    > span {
        font-size: var(--size-s);
        margin-bottom: var(--size-xs);
    }

    &:has(*[required]) > span:after {
        content: '*';
        color: var(--color-accent-error);
    }

    input, textarea, select {
        padding: var(--size-xs);
        /*background-color: vaR(--color-elevation-interactive);*/
        border: var(--size-xxs) solid var(--color-elevation-interactive);
        outline: none;
        appearance: none;
        resize: none;
        background-color: transparent;
        border-radius: var(--size-s);

        &:focus, &:focus-within {
            border: var(--size-xxs) solid var(--color-elevation-highlight);
            background-color: var(--color-elevation-base);
            outline: none;
        }
    }
}