label.label {
    > * {
        display: block;
        width: 100%;
    }

    > span {
        font-size: var(--size-s);
        margin-bottom: var(--size-xs);
    }

    &:has(*[required]) > span:after {
        content: '*';
        color: var(--color-accent-danger);
    }

    input, textarea, select {
        padding: var(--size-xs);
        background-color: vaR(--color-surface-interactive);
        border: var(--border-default);
        outline: none;
        appearance: none;
        resize: none;
        border-radius: var(--size-s);

        &:focus, &:focus-within {
            border: var(--size-xxs) solid var(--color-surface-interactive);
            background-color: var(--color-surface-interactive);
            outline: none;
        }
    }
}