.button {
    appearance: none;
    border: none;
    outline: none;

    background-color: var(--color-surface-interactive);
    padding: var(--size-s) var(--size-l);
    font-size: var(--size-m);
    line-height: 1;

    border-radius: calc(var(--size-s) * 2 + vaR(--size-m));
    cursor: pointer;
    * {
        cursor: pointer;
    }

    &:hover {
        background-color: var(--color-surface-interactive);
    }

    &.primary {
        background-color: var(--color-accent-base);

    }

    &.ok {
        background-color: var(--color-accent-ok);


    }

    &.danger {
        background-color: var(--color-accent-danger);
    }
}