.projectCard {
    color: var(--color-text-base);
    padding:  var(--size-m);
    /*min-height: var(--size-xxl);*/
    aspect-ratio: 1.5;
    border-radius: var(--size-m);

    h2 {
        color: hotpink !important;
        text-decoration: none !important;
        text-decoration-color: aquamarine !important;
        appearance: none;
    }

    background-color: var(--color-surface-interactive);
    background-image: vaR(--gradient-glass);
    border: var(--border-glass);

    @media(hover:hover) {
        &:hover {
            background-image: var(--gradient-hover);
        }
    }

    transition: all ease-out var(--animation-duration);
    @starting-style {
        opacity: 0;
        transform: scale(.9);
    }
}