.projectCard {
    color: var(--color-text-base);
    text-decoration: none;
    padding: var(--size-xxl) var(--size-m);
    border-radius: var(--size-m);


    background-color: var(--color-surface-interactive);
    background-image: vaR(--gradient-glass);
    border: var(--border-glass);

    @media(hover:hover) {
        &:hover {
            background-image: var(--gradient-hover);
        }
    }

    transition: all ease-out var(--animation-duration);
    transition-delay: calc(attr(data-index number) * .5 * var(--animation-duration));
    /*transition-delay: var(--animation-duration);*/
    @starting-style {
        opacity: 0;
    }
}