.layout {
    padding-top: var(--size-xxl) ;
    margin: 0 auto;
    width: 30rem;
    max-width: 90svw;

    transition: all ease-out var(--animation-duration);
    @starting-style {
        opacity: 0;
        transform: scale(.9)
    }

}