.backDrop {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    backdrop-filter: var(--blur-glass);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .window {
        width: 30rem;
        max-width: 90svw;

        background-color: var(--color-surface-elevated);
        background-image: var(--gradient-glass);
        border: var(--border-glass);

        padding: var(--size-m);
        border-radius: var(--size-m);
        box-shadow: var(--shadow-default);
        position: relative;

        header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: var(--size-m)
        }
    }
}