html.root {
    --color-surface-elevated: hsl(0 0% 100% / .5);
    --color-surface-interactive: hsl(0 0% 100% / .9);

    --color-text-base: hsl(0 0% 25%);
    --color-text-hightlight: hsl(0 0% 0%);

    --color-accent-base: hsl(210 100% 50%);
    --color-accent-ok: hsl(120 100% 50%);
    --color-accent-danger: hsl(0 100% 50%);

    --gradient-glass: linear-gradient(-45deg, hsl(0 0% 0% / .1), hsl(0 0% 1000% / .1));
    --blur-glass: blur(var(--size-s));

    --size-xxs: 0.1rem;
    --size-xs: .5rem;
    --size-s: .75rem;
    --size-m: 1rem;
    --size-l: 1.5rem;
    --size-xl: 2rem;
    --size-xxl: 5rem;

    --border-default: var(--size-xxs) solid hsl(0 0% 100% / .5);
    /*--border-default: none;*/


    --shadow-default: 0 0 var(--size-m) hsl(0 0% 0% / .25);
    /*--shadow-dropped: 0 0 var(--size-xs) hsl(0 0% 0% / .25) inset;*/
}

