@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter/Inter-VariableFont_opsz,wght.ttf') format('truetype-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype-variations');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('/fonts/Source_Code_Pro/SourceCodePro-VariableFont_wght.ttf') format('truetype-variations');
    font-weight: 200 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('/fonts/Source_Code_Pro/SourceCodePro-Italic-VariableFont_wght.ttf') format('truetype-variations');
    font-weight: 200 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Material Symbols';
    font-style: normal;
    font-display: block;
    src: url('/fonts/MaterialSymbols/MaterialSymbolsRounded-VariableFont_FILL,GRAD,opsz,wght.ttf');
}

html.root {
    font-size: 20px;

    height: 100%;
    color: var(--color-text-base);

    body {
        font-size: var(--size-m);
        line-height: 1.1;
        margin: 0;
        padding: 0;
        color: var(--color-text-base);
        background-image: var(--gradient-background);
        background-attachment: fixed;

        /*background-image: url("/planet-volumes-DkJAfgh-lFU-unsplash.jpg");*/
        /*background-position: center center;*/
        /*background-size: cover;*/

        height: 100%;
        font-family: 'Inter', sans-serif;

        * {
            box-sizing: border-box;
            font-size: var(--size-m);
        }

        p {
            margin: 0;
        }

        h1, h2, h3, h4, h5, h6 {
            margin: 0;
            font-family: 'Source Code Pro', monospace;
            font-weight: 900;
        }

        h1, h2, h3, h4, h5, h6, strong {
            margin: 0;
            color: var(--color-text-highlight)
        }

        h1 {
            font-size: var(--size-xl);
        }

        h2 {
            font-size: var(--size-l);
        }
    }
}
