.laneContainer {
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: var(--size-m);

    .lane {
        flex-grow: 1;
        background-color: var(--color-surface-dropped);
        display: flex;
        flex-direction: column;
        gap: var(--size-xxs);
        padding: var(--size-xs);
        border-radius: calc(var(--size-m) + var(--size-xs));
        overflow: auto;
        box-shadow: var(--shadow-dropped);
        border: var(--border-default);



        .taskCard {
            background-color: var(--color-surface-elevated);
            padding: var(--size-m);
            cursor: pointer;
            border: var(--border-default);
            box-shadow: var(--shadow-default);

            @media (hover: hover) {
                &:hover {
                    background-color: var(--color-surface-elevated-highlight);
                }
            }

            &:first-child {
                border-top-left-radius: var(--size-m);
                border-top-right-radius: var(--size-m);
            }

            &:last-child {
                border-bottom-left-radius: var(--size-m);
                border-bottom-right-radius: var(--size-m);
            }
        }
    }
}